.container {
    height: 100vh;
    width: 100%;
    max-width: 400px;
    gap: 20px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width:100%;
}

.search {
    width:100%;
    height:100%;
    border: 1px solid black;
    padding: 5px;
}

.img {
    width:100%;
    border: 1px solid black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.inner-container {
    width: 100%;
    border: 1px solid black;
}

.inner-form {
    width:100%;
    
}

.inner-search {
    width:100%;
    height:30px;
    background-color: white;
    border: 1px solid lightgray;
    border-left:0;
    border-right:0;
    border-top:0;
}

.placeholder {
    width:100%;
    height: 150px;
}